<div>
    <app-task-form />
</div>

<div *ngIf="showEditForm">
    <app-edit-form [taskId]="editTaskId" [initialTaskTitle]="editTaskTitle" />
</div>

<div>
    <p> Pending Tasks: </p>
    <ul>
        <li *ngFor="let task of pendingTasks">
            <span> {{task.title}} </span>
            <button (click)="editTask(task.id)"> Edit </button>
            {{task.id}}
            <!-- <a [routerLink]="['/tasks/edit', task.id]" >Edit</a>
            <a [routerLink]="'about'" >About</a> -->
            <button (click)="moveToCompletedTasks(task.id)"> Move to Complete </button>
            <button (click)="deletePendingTask(task.id)"> Delete </button>
        </li>
    </ul>

    <p> Completed Tasks: </p>
    <ul>
        <li *ngFor="let task of completedTasks">
            <span> {{task.title}} </span>
            <button (click)="moveToPendingTasks(task.id)"> Move to Pending </button>
            <button (click)="deleteCompletedTask(task.id)"> Delete </button>
        </li>
    </ul>
</div>
