<div>
    <app-task-form />
</div>

<div>
    <p> Pending Tasks: </p>
    <ul>
        <li *ngFor="let task of pendingTasks">
            <span> {{task.title}} </span>
            <button> Edit </button>
            <button (click)="moveToCompletedTasks(task.id)"> Move to Complete </button>
            <button (click)="deletePendingTask(task.id)"> Delete </button>
        </li>
    </ul>

    <p> Completed Tasks: </p>
    <ul>
        <li *ngFor="let task of completedTasks">
            <span> {{task.title}} </span>
            <button (click)="moveToPendingTasks(task.id)"> Move to Pending </button>
            <button (click)="deleteCompletedTask(task.id)"> Delete </button>
        </li>
    </ul>
</div>
